<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' type='text/css' href='../assets/StyleSheets/MarketFu.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketFu</title>
    <table id='itemTable'>
        <tr>
            <th>Name</th>
            <th>LVL</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>9
    </table>
</head>
<script src='../assets/Scripts/MarketFu.js'></script>
<body>
    
</body>
</html>