<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' type='text/css' href='../assets/StyleSheets/MarketFu.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketFu</title>
    <table id='itemTable'>
        <tr>
            <th>Name</th>
            <th id='LVL' class='column'>LVL</th>
            <th id="Price"  class='column'>Price</th>
            <th>Image</th>
            <th>Server</th>
        </tr>
    </table>
</head>
<script src='../assets/Scripts/MarketFu.js'></script>
<body>
    
</body>
</html>